                        <a href="#" title="Sentinel Services">
                            <i class="glyph-icon icon-bug"></i>
                            <span>Sentinel Services</span>
                        </a>
                        <div class="sidebar-submenu">

                            <ul>
							{% url 'configservercsf' as the_url %}
							{% if the_url %}
                                <li><a href="{% url 'configservercsf' %}"
                                       title="Sentinel Security &amp; Firewall"><span>Sentinel Security &amp; Firewall</span></a>
                                </li>
							{% endif %}
                            </ul>

                        </div><!-- .sidebar-submenu -->
                    </li>

                    <li class="serverACL">
